//color   
$white : #ffffff;
$white30 : rgba(255,255,255,0.3);
$white50 : rgba(255,255,255,0.5);
$white70 : rgba(255,255,255,0.7);
$grey : #484848;
$black : #060606;
$theme : #8a1f9c; 
$theme-r: #00B6AD;

//font
$heroFont: 'century-gothic'; 
$title: 'Poppins', sans-serif; //300, 400
$text: 'Open Sans', sans-serif; //400

$title1: 'Poppins', sans-serif;
$title2: 'Poppins', sans-serif;
$midIntroTitle: 'century-gothic'; 
$textMidFont: 'Poppins', sans-serif;
$ftrUSPFont: 'Poppins', sans-serif;




        





